*{
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    max-width: 100%;
}
#section_1 {
    background-image: url(../game-illustration/Batgame_1.png);
    height: 100vh;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
    margin: 0px 80px;
    border: 3px solid rgba(245, 245, 245, 0.317);
    border-top: none;
}
header img {
    margin-right: 700px;
}
header a {
    color: white;
    font-weight: 600;
    margin: 0 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
}

/* Style pour la navigation active */
#active {
    text-decoration: underline;
    padding-bottom: 10px;
}

header a:hover {
    color: yellow;
}
.intro {
    margin: 0px 80px;
    border: 3px solid rgba(245, 245, 245, 0.317);
    border-top: none;
    border-bottom: none;
    height: 2150vh;
}
.intro_text {
    transition: transform 1s ease-in-out;
    transform: translateX(-300%);
}

section .logo {
    display: grid;
    justify-items: center;
    top: 35vh;
    padding-left: 1360px;
    width: 10vw;
    margin-left: 1305px;
    gap: 30px;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
}

section .logo img {
    display: block;
    cursor: pointer;
}

#section_1 p {
    padding-left: 70px;
    font-size: 2rem;
    text-align: left;
    color: white;
    padding-top: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
#section_1 > div > a {
    position: absolute;
    bottom: 2rem;
    width: 20%;
    margin: 10px 40%;
}
#QUIZZ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top: 10px;
    padding-top: 20px;
}

.p {
    color: white;
    text-transform: uppercase;
    word-spacing: 3px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    height: 5vh;
    width: 40%;
    margin: 10px auto;
    transition: transform 1s ease-in-out;
    transform: translateX(-300%);
}

#QUIZZ .img {
    width: 60%;
    margin: 10px 20%;
}

#QUIZZ a,
.quizz a {
    text-decoration: none;
    width: 20%;
    margin: 10px 40%;
    margin-top: 10px;
}
#QUIZZ a button,
.quizz a button {
    border: none;
    text-transform: uppercase;
    color: white;
    word-spacing: 5px;
    font-size: 1.5rem;
    height: 10vh;
    background: linear-gradient(to right, rgba(128, 128, 128, 0.895), rgba(255, 166, 0, 0.639));
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
    transition: 0.5s;
}
#QUIZZ a button:hover,
.quizz a button:hover {
    color: black;
}

.quizz {
    color: white;
    width: 100%;
    margin: 10px auto 100px auto;
    padding: 50px 0;
    height: 100vh;
}
.number {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px auto;
}
.label_img {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 70px auto;
}
.image {
    width: 20%;
    height: 40vh;
}
.legend_input {
    display: grid;
    grid-template-rows: 20% ;
    width: 40%;
}
legend {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    width: 150%;
    margin-bottom: 50px;
}
.row {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 20px;
    background: gray;
    width: 100%;

    height: 40px;
 }
input {
    width: 30px;
    height: 30px;
    display: grid;
    margin: 5px;
    position: relative;
 }

 footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh; /* Pour occuper toute la hauteur de l'écran */
    background-color: rgba(0, 0, 0, 0.5);
    color: white; /* Couleur du texte */
    text-align: center; /* Centrer le texte horizontalement */
    margin-top: 70px;
}

footer .img_p {
    margin: 0; /* Suppression des marges */
}

footer p {
    font-size: 0.8rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

footer img {
    width: 30px; /* Taille des images */
    height: 30px; /* Taille des images */
    object-fit: cover; /* Pour que les images soient de taille égale sans déformation */
}

footer .icon_logo {
    display: flex;
    flex-direction: row; /* Pour placer les éléments horizontalement */
    align-items: center; /* Pour centrer verticalement les éléments */
    margin: 5px 35%;
    width: 30%;
}

footer .partenaires {
    margin: 0; /* Suppression des marges */
}

footer .partenaires img {
    width: 40px; /* Taille des images des partenaires */
    height: 40px; /* Taille des images des partenaires */
    object-fit: cover; /* Pour que les images soient de taille égale sans déformation */
    margin: 0 10px; /* Marge entre les images des partenaires */
    cursor: pointer;
}

footer .reseau {
    display: flex;
    flex-direction: row; /* Pour placer les icônes horizontalement */
    justify-content: space-between; /* Pour espacer les icônes également */
}

footer .reseau a {
    text-decoration: none; /* Suppression du soulignement des liens */
    color: white; /* Couleur des icônes */
}

footer .reseau img {
    width: 30px; /* Taille des icônes des réseaux sociaux */
    height: 30px; /* Taille des icônes des réseaux sociaux */
    margin: 0 10px; /* Marge entre les icônes des réseaux sociaux */
    cursor: pointer;
}

.show_element_normally {
    transform: translateX(0);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    justify-content: center;
    align-items: center;
    margin: 5% 15%;
}

.modal-content {
    background-color: white;
    padding: 20px;
    height: 60vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Pour centrer verticalement */
    align-items: center; /* Pour centrer horizontalement */
}

.modal-content h2 {
    font-size: 2rem; /* Taille de police agrandie */
    font-family: 'Votre police stylée', sans-serif; /* Remplacez 'Votre police stylée' par votre police personnalisée */
}

.modal-content p {
    font-size: 1.5rem; /* Taille de police agrandie */
    font-family: 'Votre police stylée', sans-serif; /* Remplacez 'Votre police stylée' par votre police personnalisée */
}

.close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
